body{
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: rgb(33, 64, 70);
  text-decoration: none;
}
a:hover {
  color: #9063d8;
}

a, div, input, button {
  font-family: century gothic;
}

form {
  box-shadow: 10px 10px 20px  #4b356d;
  background-color: rgb(146, 210, 221);
  border-radius: 10px;
  padding: 30px;
}

.formDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  text-align: center;
}

.login {
  text-align: center;
  font-size: 20px;
}

input, button {
  border: 1px solid #9063d8;
  margin: 10px 30px;
  padding: 8px 30px;
  font-size: 15px;
  border-radius: 6px;
  display: block;
}

button {
  background: #9063d8;
  color: lavender;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 10px 85px;
  cursor: pointer;
}

button:hover {
background-color: rgb(178, 100, 241);
border-color: rgb(178, 100, 241);
}

html {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(63, 6, 116, 0.425), rgba(0, 238, 255, 0.055)), url(https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_1280.png);
  background-size: cover;
}


.navbar{
	position: fixed;
  top: 0;
	width: 100%;
	background-color:rgb(146, 210, 221);
	max-height: 125px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 300px;
	display: block;
}

.menu{
	text-transform: uppercase;
	font-family: century gothic;
	font-weight: 700;
	color: white;
	margin-right: 20px;
}

.footer{
	background-color: rgb(146, 210, 221);
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-family: century gothic;
	display: flex;
	align-items: center;
  justify-content: space-between;
  margin-top: 145px;
}

.social{
	align-items: center;
}

.socialImg{
	width: 35px;
}

.copyright{
	margin-right: 20px;
}